mixin promo-products

  section.s-promo-products
    .s-promo-products__container
      h2.s-promo-products__title.s-main-subtitle Products
      .s-promo-products__slider
        +owl-carousel('products-slider')
          +product-card('img/products-example-1.jpg')
          +product-card('img/products-example-2.jpeg')
          +product-card('img/products-example-3.jpg')
          +product-card('img/products-example-4.jpg')
          +product-card('img/products-example-1.jpg')
          +product-card('img/products-example-2.jpeg')
          +product-card('img/products-example-3.jpg')
          +product-card('img/products-example-4.jpg')