.s-main-nav {
  height: 100%;

  @media (min-width: $screen-sm) {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
  }

  &__list {
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    flex-grow: 0;
  }

  &__item {
    margin: 0;
  }

  &__link {
    color: currentColor;
    display: block;
    padding: 0.5rem;
    width: 100%;
    transition: all 0.25s ease-out 0s;

    &:hover,
    &:focus {
      text-decoration: none;
      color: currentColor;

      @supports (font-variation-settings: 'wght' 800) {
        font-variation-settings: 'wght' 800;
      }
    }

    @media (min-width: $screen-xs) {
      padding: 0.75rem;
    }

    @media (min-width: $screen-md) {
      padding: 0.75rem 1rem;
    }
  }
}
