.s-table {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  overflow-x: auto;
  border: 1px solid $border-color;

  table {
    margin: 0;
    border: 0;
    border-collapse: collapse;
    width: 100%;
  }

  td,
  th {
    padding: 0.5rem;
    vertical-align: top;
    border-bottom: 1px solid $border-color;

    &:not(:first-child) {
      border-left: 1px solid $border-color;
    }
  }

  th {
    text-align: left;
  }

  tbody,
  thead,
  tfoot {

    &:last-child {

      tr:last-child {

        td,
        th {
          border-bottom: 0;
        }
      }
    }
  }

  caption {
    caption-side: top;
    text-align: left;
    padding: 0.5rem;
    border-bottom: 1px solid $border-color;
    font-size: $font-size--small;
    line-height: 1em;
    color: $text-color--lighter;
  }
}