mixin promo

  section.s-promo
    +owl-carousel('promo-slider')
      .s-promo__slide
        img(src='img/main-promo--big.jpg', alt='')
        .s-promo__container
          h1.s-promo__title.
            Materials for optical fiber cable production
      .s-promo__slide
        img(src='img/main-promo--big.jpg', alt='')
        .s-promo__container
          h1.s-promo__title.
            Materials for optical fiber cable production
      .s-promo__slide
        img(src='img/main-promo--big.jpg', alt='')
        .s-promo__container
          h1.s-promo__title.
            Materials for optical fiber cable production