.s-promo {
  min-height: 667px;

  &__slide {
    position: relative;
    min-height: 667px;

    > img {
      position: absolute;
      top: 0;
      left: 0;
      object-fit: cover;
      object-position: 50% 0;
      width: 100%;
      height: 100%;
      z-index: -1;
    }
  }

  &__container {
    width: 100%;
    max-width: 1200px;
    padding: 25vh 15px 15px;
    margin-left: auto;
    margin-right: auto;
  }

  &__title {
    margin: 0;
    text-align: center;
    font-size: 1.5rem;
    line-height: 2rem;

    @media (min-width: $screen-md) {
      font-size: 2rem;
      line-height: 3rem;
    }

    @media (min-width: $screen-lg) {
      font-size: 3rem;
    }
  }
}