mixin pagination(mods)

  //- Param:
    mods {string} - modifiers

  //- Use:
    +pagination()
      +pagination-item('1', '/1')
      +pagination-item('...')
      +pagination-item('4', '/4')
      +pagination-item('5', '/5', true)
      +pagination-item('6', '/6')
      +pagination-item('...')
      +pagination-item('999', '/999')

  -
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-pagination--' + modsList[i].trim();
      }
    }

  .s-pagination(class=allMods, aria-label='Page navigation')&attributes(attributes)
    ul.s-pagination__list
      block



mixin pagination-item(text, href, active, mods)


  //- Declaration:
  //-   text   {string} - text
  //-   href   {string} - link
  //-   mods   {string} - modifiers
  //-   active {bool}   - active

  -
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-pagination__item--' + modsList[i].trim();
      }
    }

    if(typeof(active) !== 'undefined' && active) {
      allMods = allMods + 's-pagination__item--active';
    }

  if(typeof(href) !== 'undefined' && href)
    li.s-pagination__item(class=allMods)
      a(href=href)&attributes(attributes)!= text

  else
    li.s-pagination__item(class=allMods)
      span&attributes(attributes)!= text

