.s-page-header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  border-bottom: 1px solid $border-color;
  min-height: 68px;
  display: flex;
  flex-flow: row wrap;
  font-size: 0.7rem;
  z-index: 2;

  @media (min-width: $screen-xs) {
    font-size: 0.75rem;
  }

  @media (min-width: $screen-lg) {
    font-size: 0.875rem;
  }

  &__logo,
  &__contact,
  &__nav {
    min-height: 2rem;
  }

  &__logo {
    width: 50%;
    flex-basis: auto;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;

    @media (min-width: $screen-md) {
      width: auto;
      flex-shrink: 0;
      justify-content: center;
      order: 1;
    }

    .s-logo {
      padding: 0.5rem;

      @media (min-width: $screen-xs) {
        padding: 0.75rem;
      }

      @media (min-width: $screen-lg) {
        padding: 0.75rem 2rem;
      }
    }

    &::after {
      position: absolute;
      content: '';
      background-color: $border-color;
      width: 1px;
      height: 100%;
      top: 0;
      right: 0;
      transform: translate3d(50%,0,0);
    }
  }

  &__contact {
    width: 50%;
    flex-basis: auto;

    @media (min-width: $screen-md) {
      order: 3;
      width: auto;
      flex-grow: 0;
    }
  }

  &__contact-list {
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;

    @media (min-width: $screen-sm) {
      justify-content: space-between;
    }
  }

  &__contact-item {
    margin: 0;
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;

    @media (min-width: $screen-sm) {
      flex-grow: 1;

      &::before {
        position: absolute;
        content: '';
        background-color: $border-color;
        width: 1px;
        height: 100%;
        top: 0;
        left: 0;
        transform: translate3d(-50%,0,0);
      }
    }

    @media (min-width: $screen-lg) {
      padding: 0 1rem;
    }

    &--e-mail {
      display: none;

      @media (min-width: $screen-sm) {
        display: flex;
      }
    }
  }

  &__contact-link {
    display: block;
    padding: 0.5rem;
    color: currentColor;
    transition: all 0.25s ease-out 0s;

    &:hover,
    &:focus {
      text-decoration: none;
      color: currentColor;
    }

    @media (min-width: $screen-xs) {
      padding: 0.75rem;
    }

    > svg {
      display: inline-block;
      margin-right: 1em;
      fill: $primary-color;

      @media (min-width: $screen-sm) {
        margin-right: 1.5em;
      }
    }
  }

  &__nav {
    width: 100%;
    flex-basis: auto;
    position: relative;

    @media (min-width: $screen-md) {
      order: 2;
      width: auto;
      flex-grow: 1;
    }

    &::before {
      position: absolute;
      content: '';
      background-color: $border-color;
      width: 100%;
      height: 1px;
      top: 0;
      left: auto;
      transform: translate3d(0,-50%,0);
    }
  }
}