mixin page-header(mods)

  //- Param:
    mods  {string} - modifiers

  //- Usage:
    +page-header()
      div header content

  -
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-page-header--' + modsList[i].trim();
      }
    }

  header.s-page-header(class=allMods, role='banner')&attributes(attributes)
    .s-page-header__logo
      +logo('/')
    .s-page-header__contact
      ul.s-page-header__contact-list
        li.s-page-header__contact-item.s-page-header__contact-item--phone
          a.s-page-header__contact-link(href='tel:+37259822303')
            +svg-icon('phone', '12px', '12px')
            | +372 598 22303
        li.s-page-header__contact-item.s-page-header__contact-item--e-mail
          a.s-page-header__contact-link(href='mailto:info@optilix.eu')
            +svg-icon('mail', '12px', '12px')
            | info@optilix.eu
    .s-page-header__nav
      nav.s-main-nav
        ul.s-main-nav__list
          li.s-main-nav__item
            a.s-main-nav__link(href='/') About us
          li.s-main-nav__item
            a.s-main-nav__link(href='/') Products
          li.s-main-nav__item
            a.s-main-nav__link(href='/') News
          li.s-main-nav__item
            a.s-main-nav__link(href='/') Contacts
