.s-btn {
  position: relative;
  display: inline-block;
  background-color: $primary-color;
  background-image: none;
  color: $white;
  margin: 0;
  height: 40px;
  padding: 0.5em 2.5em;
  border-radius: 4px;
  font-size: 0.7rem;
  font-weight: 700;
  line-height: 1.2em;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  touch-action: manipulation;
  user-select: none;
  overflow: hidden;
  box-sizing: border-box;
  white-space: nowrap;
  z-index: 1;
  min-width: 160px;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.08), 0 2px 4px 0 rgba(50,50,93,0.15);

  @supports (font-variation-settings: 'wght' 700) {
    font-variation-settings: 'wght' 700;
    font-weight: normal;
  }

  &:hover,
  &:focus {}

  &:active,
  &:focus {}

  &:visited {}

  &--disabled,
  &:disabled {
    opacity: $opacity;
    cursor: not-allowed;
    color: $text-color;
    background-color: $gray-lightest;
    border-color: $gray-lighter;

    @at-root a.s-btn--disabled {
      pointer-events: none;
    }
  }
}