mixin promo-about-us

  section.s-promo-about-us
    .s-promo-about-us__container
      h2.s-promo-about-us__title.s-main-subtitle About us
      .s-promo-about-us__content
        p.s-promo-about-us__intro.
          Company 2M was founded in year 2001 as a distributor of high-quality modern materials and equipment for optical fiber cable production
        p.s-promo-about-us__main-info.
          Over the years of successful work and dynamic development, we have greatly expanded the range of supplied materials and equipment. Also we have developed our own principles, the basics of which are constantly improving service of our customers, highly trained staff and a focus on the business requirements of our partners.

      .s-advantages
        ul.s-advantages__list
          li.s-advantages__item
            dl.s-advantages__item-inner
              dt.s-advantages__term Heading
              dd.s-advantages__desc.
                Company 2M is exclusive representative of well-known leading producers of materials for optical fiber cable
          li.s-advantages__item
            dl.s-advantages__item-inner
              dt.s-advantages__term Heading
              dd.s-advantages__desc.
                Company 2M is exclusive representative of well-known leading producers of materials for optical fiber cable
          li.s-advantages__item
            dl.s-advantages__item-inner
              dt.s-advantages__term Heading
              dd.s-advantages__desc.
                Company 2M is exclusive representative of well-known leading producers of materials for optical fiber cable
          li.s-advantages__item
            dl.s-advantages__item-inner
              dt.s-advantages__term Heading
              dd.s-advantages__desc.
                Company 2M is exclusive representative of well-known leading producers of materials for optical fiber cable