.s-promo-about-us {
  @extend .s-promo-products;

  &__container {
    @extend .s-promo-products__container;
    padding: 0 1rem;
  }

  &__content {
    margin-bottom: 2rem;

    @media (min-width: $screen-sm) {
      display: grid;
      grid-gap: 2rem;
      grid-template:
        'promo-about-intro promo-about-main-info' /
        5fr 6fr;
    }

    @media (min-width: $screen-md) {
      margin-bottom: 3rem;
      display: grid;
      grid-gap: 3rem;
      grid-template:
        'promo-about-intro promo-about-main-info' /
        4.5fr 6.5fr;
    }
  }

  &__intro {
    grid-area: promo-about-intro;
    font-size: 1.2rem;
    line-height: 1.8rem;
    margin-bottom: 1rem;

    @media (min-width: $screen-sm) {
      text-align: right;
      margin-bottom: 0;
    }
  }

  &__main-info {
    grid-area: promo-about-main-info;
  }
}