.s-field-text {
  display: block;
  margin-bottom: 1rem;

  &__name {
    @include field-name;
  }

  &__input-wrap {
    display: block;
  }

  &__input {
    display: inline-block;
    vertical-align: middle;
    height: 40px;
    width: 100%;
    margin: 0;
    font-size: 0.8rem;
    line-height: 1.2em;
    font-family: inherit;
    border: 0;
    appearance: textfield;
    background: #fff;
    box-shadow: 0 1px 0 0 rgba(0,0,0,0.04), 0 1px 3px 0 rgba(50,50,93,0.20);
    border-radius: 4px;
    padding: 0.6rem 0.8rem;

    &:focus {
      @include field-focus;
    }

    &[disabled],
    &[readonly] {
      cursor: default;
      background-color: $gray-lighter;
    }

    &[type='search']::-webkit-search-cancel-button,
    &[type='search']::-webkit-search-decoration {
      -webkit-appearance: none; // stylelint-disable-line  property-no-vendor-prefix
    }

    &[type='number']::-webkit-inner-spin-button,
    &[type='number']::-webkit-outer-spin-button {
      // height: auto;
    }

    &[type='color'] {
      // max-width: 100px;
      padding: 0;
    }

    &::placeholder {
      color: $text-color;
      opacity: 0.5;
    }

    @at-root textarea#{&} {
      $textarea-height: 5rem;
      height: auto;
      min-height: calc(#{$textarea-height} + 2px);
      resize: vertical;
    }
  }

  &__help-text {
    @include field-help-text;
  }
}
