//- !
//- Attention! This file is generated automatically.
//- Do not write anything here manually, all such edits will be lost.

include ../blocks/page/page.pug
include ../blocks/btn/btn.pug
include ../blocks/logo/logo.pug
include ../blocks/svg-icon/svg-icon.pug
include ../blocks/date/date.pug
include ../blocks/external-link/external-link.pug
include ../blocks/table/table.pug
include ../blocks/form/form.pug
include ../blocks/field-text/field-text.pug
include ../blocks/field-radio/field-radio.pug
include ../blocks/field-select/field-select.pug
include ../blocks/field-checkbox/field-checkbox.pug
include ../blocks/field-toggler/field-toggler.pug
include ../blocks/field-actions/field-actions.pug
include ../blocks/page-header/page-header.pug
include ../blocks/page-footer/page-footer.pug
include ../blocks/owl-carousel/owl-carousel.pug
include ../blocks/main-nav/main-nav.pug
include ../blocks/promo/promo.pug
include ../blocks/promo-products/promo-products.pug
include ../blocks/main-subtitle/main-subtitle.pug
include ../blocks/promo-about-us/promo-about-us.pug
include ../blocks/product-card/product-card.pug
include ../blocks/main-slider/main-slider.pug
include ../blocks/advantages/advantages.pug
include ../blocks/promo-partners/promo-partners.pug
