mixin styleguide()

  .styleguide
    block

mixin styleguideItem(mods)

  -
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' styleguide__item--' + modsList[i].trim();
      }
    }

  .styleguide__item(class=allMods)&attributes(attributes)
    block