mixin logo(href, mods)

  //- Param:
    href  {string} - link
    mods  {string} - modifiers

  //- Use:
    +logo('/')
  -
    // Modifiers
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-logo--' + modsList[i].trim();
      }
    }

  a.s-logo(class=allMods, href=href)&attributes(attributes)
    svg(width='109', height='22', viewBox='0 0 109 22' xmlns='http://www.w3.org/2000/svg')
      g(fill-rule='nonzero', fill='none')
        path(d='M3.6 16.6l-.55.62C1.70287165 15.4276716.98253769 13.2420729 1 11c-.06978732-2.59362456.89812622-5.1079009 2.68907338-6.985204C5.48002053 2.1374929 7.94596465 1.05233773 10.54 1c2.0434571-.01887085 4.032499.6582498 5.64 1.92l-.54.6c-1.4519881-1.14433395-3.2513689-1.75824034-5.1-1.74-4.94359918.15783473-8.83342407 4.27542205-8.71 9.22-.01492448 2.0065567.60456435 3.9665214 1.77 5.6zM4.87 19.07l.55-.6c1.45967741 1.1443667 3.26530073 1.7579965 5.12 1.74 2.3802109-.054772 4.639751-1.0588111 6.2756503-2.7886196C18.4515495 15.6915719 19.3280341 13.3795618 19.25 11c.0112654-2.01527649-.6152936-3.98246186-1.79-5.62l.54-.61c1.3261905 1.80783336 2.0281896 3.99807046 2 6.24.0752746 2.58061-.8802486 5.0849557-2.6553878 6.9595477C15.5694731 19.8441398 13.1208799 20.9346273 10.54 21c-2.0535074.0141141-4.0515489-.6659953-5.67-1.93zM39 7.11c0 3.61-2.57 5.8-6.71 5.8H30v-.76h2.3c3.62 0 5.88-1.87 5.88-5s-2.26-5-5.88-5h-4.6v18.53h-.81V1.31h5.41c4.14 0 6.7 2.21 6.7 5.8zM41.48 2.07v-.76h13.6v.76zM47.87 4.54h.81v16.14h-.81zM60.56 20.68V1.31h.81v19.37zM69.61 1.31h.8v19.37h-.8zM72.75 20.68v-.75h8v.75zM86.19 20.68V1.31H87v19.37z', stroke='#333333', fill='#333333')
        path(stroke='#2B7CF6', fill='#2B7CF6', d='M92.92 20.68v-.15l5.62-7.88.47.67-5.25 7.36zM106.83 20.68L93.18 1.47v-.16h.89l13.65 19.22v.15zM102.1 9l-.47-.67 5-7h.83v.14z')

