.s-product-card {
  box-shadow: $box-shadow;
  margin-bottom: 1rem;
  background-color: $bg-color--default;
  transition: all 0.2s ease-out 0s;
  display: block;
  color: $text-color;

  &:hover {
    text-decoration: none;
    box-shadow: $box-shadow--hover;
  }

  &__cover {
    width: 100%;
    height: 300px;

    > img {
      object-fit: contain;
      object-position: 50% 50%;
      width: 100%;
      height: 100%;
    }
  }

  &__info {
    padding: 1rem 1rem 2rem;
    text-align: center;
  }

  &__name {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }

  &__desc {
    font-size: 0.75rem;
    opacity: $opacity;
  }
}