mixin product-card(imgSrc)

  a.s-product-card(href='')
    .s-product-card__cover
      img(src=imgSrc, alt='', width='270px', height='300px')
    .s-product-card__info
      h3.s-product-card__name Optical Fiber
      p.s-product-card__desc Additional info