.s-page-footer {
  border-top: 1px solid $border-color;
  font-size: 0.7rem;
  padding: 2rem 1rem;
  background-color: $bg-color--lighter;
  color: $text-color;

  @media (min-width: $screen-xs) {
    font-size: 0.75rem;
  }

  @media (min-width: $screen-sm) {
    padding: 3rem 2rem;
  }

  @media (min-width: $screen-lg) {
    font-size: 0.875rem;
  }

  &__top {

    @media (min-width: $screen-sm) {
      display: flex;
      flex-flow: row wrap;
      margin-bottom: 1rem;
    }

    @media (min-width: $screen-lg) {
      margin-bottom: 1.5rem;
    }
  }

  &__logo {
    margin-bottom: 1rem;

    @media (min-width: $screen-sm) {
      margin-bottom: 0;
      flex-shrink: 0;
    }
  }

  &__nav-list {
    margin-bottom: 1rem;

    @media (min-width: $screen-sm) {
      margin: 0 0 0 auto;
      display: flex;
      flex-flow: row wrap;
      flex-shrink: 0;
    }
  }

  &__nav-item {
    margin: 0;

    @media (min-width: $screen-sm) {

      & + & {
        margin-left: 1.5rem;
      }
    }
  }

  &__nav-link {
    color: currentColor;
    transition: all 0.25s ease-out 0s;
    padding: 0.125rem;

    @media (min-width: $screen-sm) {
      opacity: 0.5;

      &:hover,
      &:focus {
        color: currentColor;
        text-decoration: none;
        opacity: 1;

        @supports (font-variation-settings: 'wght' 800) {
          font-variation-settings: 'wght' 500;
        }
      }
    }
  }

  &__bottom {

    @media (min-width: $screen-sm) {
      display: flex;
      flex-flow: row wrap;
    }
  }

  &__contact-list {
    margin-bottom: 1rem;

    @media (min-width: $screen-sm) {
      order: 2;
      margin: 0 0 0 auto;
      display: flex;
      flex-flow: row wrap;
      flex-shrink: 0;
    }
  }

  &__contact-item {
    margin: 0;

    @media (min-width: $screen-sm) {

      & + & {
        margin-left: 1rem;
      }
    }
  }

  &__contact-link {
    display: block;
    color: currentColor;
    transition: all 0.25s ease-out 0s;

    &:hover,
    &:focus {
      text-decoration: none;
      color: currentColor;
    }

    > svg {
      display: inline-block;
      margin-right: 1em;
      fill: $primary-color;

      @media (min-width: $screen-sm) {
        margin-right: 1.5em;
      }
    }
  }

  &__copyright {
    opacity: 0.5;

    @media (min-width: $screen-sm) {
      order: 1;
      flex-shrink: 0;
    }
  }
}