mixin page-footer(mods)

  //- Param:
    mods  {string} - modifiers

  //- Usage:
    +page-footer()
      div footer content

  -
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-page-footer--' + modsList[i].trim();
      }
    }

  footer.s-page-footer(class=allMods, role='contentinfo')&attributes(attributes)
    .s-page-footer__top
      .s-page-footer__logo
        +logo('/')
      ul.s-page-footer__nav-list
        li.s-page-footer__nav-item
          a.s-page-footer__nav-link(href='/') About us
        li.s-page-footer__nav-item
          a.s-page-footer__nav-link(href='/') Products
        li.s-page-footer__nav-item
          a.s-page-footer__nav-link(href='/') News
        li.s-page-footer__nav-item
          a.s-page-footer__nav-link(href='/') Contacts
    .s-page-footer__bottom
      ul.s-page-footer__contact-list
        li.s-page-footer__contact-item
          a.s-page-footer__contact-link(href='tel:+37259822303')
            +svg-icon('phone', '12px', '12px')
            | +372 598 22303
        li.s-page-footer__contact-item
          a.s-page-footer__contact-link(href='mailto:info@optilix.eu')
            +svg-icon('mail', '12px', '12px')
            | info@optilix.eu
      .s-page-footer__copyright
        span © 2018 Optilix, All Rights Reserved
