.s-advantages {

  &__list {

    @media (min-width: $screen-sm) {
      display: flex;
      flex-flow: row wrap;
    }
  }

  &__item {
    margin: 0;

    & + & {
      margin-top: 2rem;

      @media (min-width: $screen-sm) {
        margin-top: 0;
      }
    }

    @media (min-width: $screen-sm) {
      margin-bottom: 3rem;
      width: 50%;
      flex-basis: auto;
    }

    @media (min-width: $screen-lg) {
      width: 25%;
    }
  }

  &__item-inner {
    position: relative;
    padding: 4rem 1rem 0 0;
    max-width: 20em;

    @media (min-width: $screen-sm) {
      margin-left: auto;
      margin-right: auto;
    }

    &::before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 40px;
      height: 40px;
      @include background-svg($abstract-icon);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &__term {
    margin: 0;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;

    @if ($font-variable == true) {

      @supports (font-variation-settings: 'wght' 700) {
        font-variation-settings: 'wght' 700;
        font-weight: normal;
      }
    }
  }

  &__desc {
    margin: 0;
    font-size: 0.8rem;
  }
}