mixin promo-partners

  .s-promo-partners
    .s-promo-partners__slider
      +owl-carousel('partners-slider')
        .s-promo-partners__partner
          img(src='img/partner.svg', alt='')
        .s-promo-partners__partner
          img(src='img/partner.svg', alt='')
        .s-promo-partners__partner
          img(src='img/partner.svg', alt='')
        .s-promo-partners__partner
          img(src='img/partner.svg', alt='')
        .s-promo-partners__partner
          img(src='img/partner.svg', alt='')
        .s-promo-partners__partner
          img(src='img/partner.svg', alt='')

