.s-promo-partners {
  border-top: 1px solid $border-color;
  padding: 2rem 0;
  background-color: $bg-color--lighter;

  &__partner {
    padding: 0 0.5rem;

    > img {
      max-width: 100%;
      max-height: 40px;
    }
  }
}