extends pug/layout.pug

block meta
  - var title = 'Form';
  title= title
  meta(name='description', content='')

block prepend head
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css')
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css')

block header

block content
  .container
    +form
      +fieldset('Fieldset')
        .row
          .col-xs-12.col-sm-4
            +field-text({
              attrs: {
                placeholder: 'Something'
              }
            })
          .col-xs-12.col-sm-4
            +field-text({
              mods: '',
              isTextarea: true,
              attrs: {
                placeholder: 'Something'
              }
            })
          .col-xs-12.col-sm-4
            +field-actions
              +btn('Submit')

block footer