@font-face {
  font-family: 'Inter UI Variable';
  src: url('../fonts/inter-ui-variable.woff2') format('woff2-variations'),
       url('../fonts/inter-ui-variable.woff2') format('woff2');
  unicode-range: U+20-7F,U+A0-17F;
  font-display: swap;
}

@font-face {
  font-family: 'Inter UI';
  src: url('../fonts/inter-ui-400-normal.woff2') format('woff2'),
       url('../fonts/inter-ui-400-normal.woff') format('woff'),
       url('../fonts/inter-ui-400-normal.ttf') format('truetype');;
  font-weight: 400;
  font-style: normal;
  unicode-range: U+20-7F,U+A0-17F;
  font-display: swap;
}

@font-face {
  font-family: 'Inter UI';
  src: url('../fonts/inter-ui-700-normal.woff2') format('woff2'),
       url('../fonts/inter-ui-700-normal.woff') format('woff'),
       url('../fonts/inter-ui-700-normal.ttf') format('truetype');;
  font-weight: 700;
  font-style: normal;
  unicode-range: U+20-7F,U+A0-17F;
  font-display: swap;
}

@font-face {
  font-family: 'Inter UI';
  src: url('../fonts/inter-ui-900-normal.woff2') format('woff2'),
       url('../fonts/inter-ui-900-normal.woff') format('woff'),
       url('../fonts/inter-ui-900-normal.ttf') format('truetype');;
  font-weight: 900;
  font-style: normal;
  unicode-range: U+20-7F,U+A0-17F;
  font-display: swap;
}