// Width

$screen-xs:                   375px;
$screen-sm:                   768px;
$screen-md:                   992px;
$screen-lg:                   1200px;
$screen-xl:                   1440px;
$screen-xxl:                  1920px;


// Colors

$black:                       hsl(0, 0%, 0%);
$gray-darkest:                hsl(0, 0%, 15%);
$gray-darker:                 hsl(0, 0%, 20%);
$gray-darken:                 hsl(0, 0%, 30%);
$gray-dark:                   hsl(0, 0%, 40%);
$gray:                        hsl(0, 0%, 50%);
$gray-light:                  hsl(0, 0%, 60%);
$gray-lighten:                hsl(0, 0%, 70%);
$gray-lighter:                hsl(0, 0%, 85%);
$gray-lightest:               hsl(0, 0%, 97%);
$white:                       hsl(0, 0%, 100%);

$text-color:                  $gray-darker;
$text-color--lighter:         $gray-lighter;

$heading-color:               $gray-darker;
$caption-color:               $gray-light;

$bg-color--default:           $white;
$bg-color--lighter:           #fdfdfd;
$bg-color--darker:            $gray-darker;

$primary-color:               #2B7CF6;

$border-color:                #eaeaea;
$border-radius:               2px;

$opacity:                     0.7;
$box-shadow:                  0 1px 0 0 rgba(0,0,0,0.04), 0 3px 6px 0 rgba(50,50,93,0.1);
$box-shadow--hover:           0 1px 0 0 rgba(0,0,0,0.04), 0 4px 12px 0 rgba(50,50,93,0.2);

$abstract-icon: '<svg viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg"><path d="M20.232719 6.636463c.91663-.59592 1.81805-1.2168 2.75275-1.78282 2.25966-1.36825 4.53505-2.71037 6.80316-4.06471.167554-.08905.32596-.194335.47294-.31434.591716-.558534 1.491544-.632295 2.16632-.17758.377272.176554.654745.513907.755183.918157.100438.40425.013118.832238-.237653 1.164833-.130507.209259-.172107.461948-.11557.702.30226.672159.086742 1.46424-.51441 1.89059-.92443.72436-1.88409 1.404-2.83036 2.09976-.35425.26-.71331.5148-1.07016.77194l.09373.13117c1.001-.60463 1.99784-1.21745 3.00586-1.81064.57304-.33709 1.1648-.6422 1.7485-.96109l.20436-.10127c.720322-.425784 1.644287-.255435 2.16541.39923.424292.737672.171722 1.679576-.56472 2.106-1.46367 1.15128-3.03537 2.16749-4.47785 3.34321-3.68381 3.003-7.32147 6.06151-10.97603 9.1-.113546.089295-.190677.216892-.21697.35893.40898-.2782.82186-.55042 1.22616-.83538 3.162875-2.34588 6.477054-4.480565 9.92095-6.39015a22.20388928 22.20388928 0 0 1 3.30291-1.378c.754025-.328681 1.634837-.04597 2.05673.66014.400121.708531.265481 1.598602-.3263 2.15709-.47268.51129-1.06808.90753-1.59172 1.37423-.156.13949-.38233.36283-.35971.51584.070412.92062-.411876 1.795335-1.22798 2.22716-2.39434 1.84496-4.81793 3.65222-7.228 5.47703-.22165.16783-.42575.35893-.63804.53924l.07085.12142c.56628-.23569 1.14946-.43797 1.69598-.71292 2.00291-1.00789 3.98398-2.05933 5.9943-3.05214.697699-.342429 1.426828-.616702 2.17724-.819.644332-.219668 1.351414.074745 1.64944.68679.291493.635506.060863 1.388588-.53651 1.75188-.52377.39611-1.08992.73619-1.63735 1.1011l.08801.1612c.81016-.39637 1.61902-.79586 2.431-1.18794.41054-.19812.819-.40664 1.24332-.56888.652049-.372522 1.481909-.163589 1.879825.47328.397917.63687.221836 1.474315-.398865 1.89701-.92495.75816-1.90242 1.45431-2.87807 2.14812-1.37917.98072-2.77784 1.93375-4.16572 2.90199-.189102.120101-.336904.295214-.42354.5018.8411-.30446 1.69078-.58721 2.52096-.9191.936-.37401 1.84912-.8034 2.782-1.1843.299913-.117948.613973-.196135.93418-.23257.485396-.09657.977466.132165 1.21654.5655.236931.431281.180841.964393-.14066 1.33692l-.30225.41691c.21242.07709.38675.13182.55419.20293.391739.142376.634664.534885.58734.949.030547.444968-.29.837057-.73216.89557-1.157313.223017-2.25953.671253-3.24402 1.31924-3.01847 1.48564-6.01705 3.01197-9.03266 4.50385a17.0606664 17.0606664 0 0 1-1.74707.69628c-.708313.320576-1.544526.089386-1.98757-.54951-.234-.299-.4264-.27066-.728-.15691-1.51086.57057-3.02055 1.14725-4.55169 1.65906-.44054.111011-.898902.13232-1.34784.06266-.590839-.03602-1.095904-.438087-1.26347-1.00581-.200579-.554518-.050135-1.175231.38207-1.57638.303279-.268132.576775-.568172.81575-.89492-.353205.15737-.715615.293209-1.08524.40677-.555243.176158-1.130748.280529-1.71249.31057-.558879.020854-1.081117-.277445-1.347061-.769435-.265945-.491989-.229456-1.092309.094121-1.548465l.14911-.29744c-.22984 0-.403-.01417-.57291.00247-.744882.177356-1.522428-.11911-1.96014-.74737-.148546-.108168-.34215-.1327-.51298-.065-.98982.60086-1.93414 1.27998-2.94294 1.84483-.835714.476075-1.713391.874378-2.62197 1.18989-.719813.233717-1.505748-.059507-1.89657-.70759-.174357-.210528-.411067-.360246-.676-.42757-.560938-.086095-1.033847-.46383-1.241781-.99187-.207934-.528041-.119554-1.126803.232071-1.57225.740277-.865677 1.53161-1.686356 2.36977-2.45765 1.5184-1.520307 3.04122-3.036237 4.56846-4.54779.13901-.126543.231909-.295784.26403-.481a6.99055175 6.99055175 0 0 1-.728.32357c-.490742.194989-1.001343.335707-1.52269.41964-.492053.079455-.991175-.093018-1.329199-.459308-.338024-.366291-.469943-.877629-.351311-1.361732.0585-.36751-.06786-.5018-.36543-.64415-.427234-.155687-.770426-.482118-.947292-.901028-.176865-.418909-.171456-.892521.014932-1.307282.249961-.704212.722517-1.307834 1.34615-1.71951.55991-.41418 1.10435-.84929 1.64528-1.26724-.36648-.426061-.53349-.988389-.458987-1.545421.074503-.557031.383421-1.055704.848987-1.370479 1.21927-1.24696 2.31309-2.62522 3.59632-3.79899 1.76475-1.61434 3.6387-3.11181 5.49731-4.62046 2.827986-2.346029 5.910182-4.367468 9.18879-6.02641.338121-.173356.685924-.327139 1.04169-.46059.38537-.165211.833687-.026979 1.05911.32656.227557.327622.186817.771378-.09659 1.05209-.161442.186532-.348098.349648-.55458.48464-1.62812 1.219833-3.257714 2.4375-4.88878 3.653-.14157.10608-.26637.234-.39897.35269l.09074.11661z" fill="#417ABE" fill-rule="nonzero"/></svg>';